= form_for @for_num_article, :url => article_path(@for_num_article) do |f|
  =f.hidden_field :for_num_name_id
  p
    =f.label :title
    =f.text_field :title
  p
    =f.label :Content
    =f.text_area :detail
  p
    =f.label :permission
    =f.text_field :permission
  p
    =f.submit