.articles-setting-container
  = form_for @article, url: topic_article_path(@article.topic, @article) do |f|
    div
      =f.label :title
      =f.text_field :title
    div
      =f.label :Content
      =f.text_area :detail
    div
      =f.label :permission
      =f.text_field :permission
    br
    =f.submit
