/*
 * This is a manifest file that'll automatically include all the
 * stylesheets available in this directory and any sub-directories.
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/* START_HIGHLIGHT */

.environment{
  background-color: rgb(230, 240, 255);
  li{
    list-style-type: none;
  }
}

.top-container{
  margin: 10px 50px 10px 50px;
  padding: 6px 3px 6px 3px;
  height: 30px;
  border-bottom:1px solid rgb(110, 110, 110);
  background-color: rgb(64, 74, 104);

  ul{
    margin: 0;
    padding: 0;
  }

  #top-links li{
    float: left;

    a{
      font-weight: 900;
      font-size: 150%
    }
  }

  #user-links li{
    float: right;
  }

  li a{
    display: block;
    width: 120px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    color: rgb(245, 250, 255);
    border-left: 3px solid rgb(64, 74, 104);
    border-right: 3px solid rgb(64, 74, 104);
    background: rgb(80, 90, 120);
  }

  li a:hover{
    background: rgb(64, 74, 104);
  }
}

.container{
  margin: 10px 50px 0px 50px;
  padding: 6px 3px 6px 3px;
  height: 500px;
  background-color: rgb(180, 190, 220);
}

.home-topics-container{

  a{
    height: 25px;
    line-height: 25px;
    display: block;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    border-left: 3px solid rgb(180, 190, 220);
    border-right: 3px solid rgb(180, 190, 220);
    background: rgb(80, 90, 120);
    width: 100px;
    color: rgb(245, 250, 255);
    font-weight: 700;
  }

  a:hover{
    color: rgb(64, 74, 104);
    background-color: rgb(180, 190, 220);
  }

  a:visited{
    color: rgb(170, 90, 225);
  }
  
  ol{
    margin: 0;
    padding: 0;

    .topic-li{
      float: left;
    }
  }

  ul{
    margin: 0;
    padding: 0;

    .long-li{
      float: right;

      a{
      width: 150px;
      }
    }
  }
}

.topic-articles-container{

}





























.depot_form{
 fieldset{
    background: #efe;
    legend {
      color:#dfd;
      background:#141;
      font-family:sans-serif;
      padding:0.2em 1em;
    }
 }
    form{
      label{
        width: 5em;
        float: left;
        text-align:right;
        padding-top:0.2em;
        margin-right:0.1em;
        display:block;
      }
      select,textarea,input{
        margin-left:0.5em;
      }
      .submit{
        margin-left:4em;
      }
      br{
        display:none;
      }


    }

}

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;
    form,div{
      display: inline;
    }
    input {
      font-size:small;
    }
    #cart{
      font-size:smaller;
      color: white;

      table{
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }


    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}
/* END_HIGHLIGHT */